$headerBackgroundColor: #ffb8ca;
$headerMobMenuColor: #e17992;
$mainBackgroundColor: #ffffff;
$secondBackgroundColor: #fff5f6;
$mainTitleColor: #d41443;
$secondTitleColor: #ffffff;
$mainTextColor: #ffffff;
$secondTextColor: #000000;
$thirdTextColor: #907e82;
$fourthTextColor: #ffa5ba;
$accentColor: #d41443;
$mainBtnTextColor: #d41443;
$sendBtnTextColor: #ffffff;
$mainBtnColor: #ffffff;
$sendBtnColor: #d41443;
$firstBtnHoverColor: #ecebeb;
$secondBtnHoverColor: #c7133e;
