<div class="backdrop is-hidden" data-about-modal>
    <div class="about-modal-window">
        <button class="about-modal-window__btn--close" type="button" data-about-modal-close>
            <svg class="about-button-close__icon" width="18" height="18">
                <use href="./images/svg-sprite/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="about-section-modal__title">ice cream</h2>
        <p class="about-modal-pre-text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-modal-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about-modal-text">
            Aliquam erat volutpat. Aenean accumsan.
        </p>
    </div>
</div>