<section class="advantages">
    <div class="container">
        <h2 class="advantages-section-title">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-item">
                <p class="advantages-title advantages-title--basket">721</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
            <li class="advantages-item">
                <p class="advantages-title advantages-title--apples">16kg</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
            <li class="advantages-item">
                <p class="advantages-title advantages-title--heart">84</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>