<section class="advantages" id="advantages">
    <div class="container">
        <h2 class="advantages-section-title">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-item">
                <div class="advantages-image advantages-image--basket"></div>
                <p class="advantages-title">721</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
            <li class="advantages-item">
                <div class="advantages-image advantages-image--apples"></div>
                <p class="advantages-title">16kg</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
            <li class="advantages-item">
                <div class="advantages-image advantages-image--icecream"></div>
                <p class="advantages-title">84</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>