<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__list-item contacts__list-container">
        <p class="contacts__title-container contacts__title-common">CAFE</p>
        <div class="text-wrap">
          <p class="contacts__list-first-text">Chicago</p>
          <p class="contacts__list-second-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="time-list list">
          <li class="time-list__item">
            <p class="time-list__text">Monday - Friday</p>
            <p class="time-list__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="time-list__item">
            <p class="time-list__text">Monday - Friday</p>
            <p class="time-list__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="nav-list list">
          <li class="nav-list__item">
            <a href="tel:+610383766284" class="nav-list__text link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="nav-list__item">
            <a href="mailto:noreply@envato.com" class="nav-list__text link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__list-item contacts__list-container">
        <p class="contacts__title-second-container contacts__title-common">
          FOODTRUCK
        </p>
        <div class="text-wrap">
          <p class="contacts__list-first-text">Los Angeles</p>
          <p class="contacts__list-second-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="time-list list">
          <li class="time-list__item">
            <p class="time-list__text">Monday - Friday</p>
            <p class="time-list__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="time-list__item">
            <p class="time-list__text">Monday - Friday</p>
            <p class="time-list__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="nav-list list">
          <li class="nav-list__item">
            <a href="tel:+610383766284" class="nav-list__text link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="nav-list__item">
            <a href="mailto:noreply@envato.com" class="nav-list__text link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__list-item contacts__list-container">
        <p class="contacts__title-container contacts__title-common">CAFE</p>
        <div class="text-wrap">
          <p class="contacts__list-first-text">New York</p>
          <p class="contacts__list-second-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="time-list list">
          <li class="time-list__item">
            <p class="time-list__text">Monday - Friday</p>
            <p class="time-list__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="time-list__item">
            <p class="time-list__text">Monday - Friday</p>
            <p class="time-list__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="nav-list list">
          <li class="nav-list__item">
            <a href="tel:+610383766284" class="nav-list__text link"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="nav-list__item">
            <a href="mailto:noreply@envato.com" class="nav-list__text link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-list__btn list">
      <li class="contacts-item__btn">
        <button
          class="contacnts__list-first-btn link contacts-btn__common"
          type="button"
        >
          Our Locations >
        </button>
      </li>
      <li class="contacts-item__btn">
        <button
          class="contacnts__list-second-btn link contacts-btn__common"
          type="button"
        >
          Franchise >
        </button>
      </li>
    </ul>
  </div>
</section>
