<section class="customer-reviews-section">
  <h2 class="visually-hidden">Cuctomer reviews</h2>
  <div class="customer-reviews-section__container container swiper-container">
    <div class="swiper-wrapper">
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Dmytro Sharlevych</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Dmytro_Sharlevych_image.jpg"
            alt="Dmytro_Sharlevych"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Dmytro Sharlevych, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Maryna Berezhanska</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Maryna_Berezhanska_image.jpg"
            alt="Maryna_Berezhanska"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Maryna Berezhanska, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Anastasia Aleksandrova</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Anastasia_Aleksandrova_image.jpg"
            alt="Anastasia_Aleksandrova"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Anastasia Aleksandrova, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Maryna Bovkun</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Maryna_Bovkun.jpg"
            alt="Maryna_Bovkun"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Maryna Bovkun, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Maxim Molokov</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Maxim_Molokov_image.jpg"
            alt="Maxim_Molokov"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Maxim Molokov, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Nata Yuschenko</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Nata_Yuschenko_image.jpg"
            alt="Nata_Yuschenko"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Nata Yuschenko, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Oleg Mishko</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Oleg_Mishko_image.jpg"
            alt="Oleg_Mishko"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Oleg Mishko, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Olga Bezdetko</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Olga_Bezdetko_image.jpg"
            alt="Olga_Bezdetko"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Olga Bezdetko, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Orest Bryhilevych</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Orest_Bryhilevych_image.jpg"
            alt="Orest_Bryhilevych"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Orest Bryhilevych, Ukraine
          </p>
        </div>
      </article>
      <article class="swiper-slide">
        <h3 class="visually-hidden">review by Volodymir Maselskyi</h3>
        <div class="customer-reviews-section__customer-foto-block">
          <img
            class="customer-reviews-section__customer-foto"
            src="./images/team/Volodymir_Maselskyi_image.jpg"
            alt="Volodymir_Maselskyi"
          />
        </div>
        <div class="customer-reviews-section__customer-block">
          <p class="customer-reviews-section__customer-review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <div class="customer-reviews-section__customer-review-gradient"></div>
        </div>
        <div class="customer-reviews-section__customer-data-block">
          <p class="customer-reviews-section__customer-data-text">
            Volodymir Maselskyi, Ukraine
          </p>
        </div>
      </article>
    </div>
    <!-- <div class="swiper-button-prev"></div> -->
    <!-- <div class="swiper-button-next"></div> -->
    <div class="swiper-pagination"></div>
  </div>
</section>
