<footer class="footer">
  <div class="container footer__container">
    <div class="footer__wrap-text">
      <p class="footer__text">homemade ice cream made</p>
      <a href="" class="footer__title-link">with passion</a>
    </div>
    <div class="footer__wrap-contacts">
      <ul class="footer__list social-list">
        <li class="social-list__item">
          <a
            href="https://github.com"
            class="social-list__link"
            target="_blank"
            rel="nonoopener noreferrer"
          >
            <svg class="social-list__icon" width="32" height="32">
              <use href="./images/svg-sprite/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="social-list__item">
          <a
            href="https://web.telegram.org"
            class="social-list__link"
            target="_blank"
            rel="nonoopener noreferrer"
          >
            <svg class="social-list__icon" width="32" height="32">
              <use
                href="./images/svg-sprite/symbol-defs.svg#icon-telegram"
              ></use>
            </svg>
          </a>
        </li>

        <li class="social-list__item">
          <a
            href="https://www.facebook.com"
            class="social-list__link"
            target="_blank"
            rel="nonoopener noreferrer"
          >
            <svg class="social-list__icon" width="32" height="32">
              <use
                href="./images/svg-sprite/symbol-defs.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer__contacts">
        <p class="footer__contacts-text">
          Feel free to contact
          <a href="tel:+610383766284" class="footer__contacts-tel"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer__info">
    <p class="footer__info-text">
      &#169; 2019 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
