<section class="gallery section">
    <div class="container gallery-container ">
        <h2 class="gallery__title">Gallery</h2>
        <!-- first version------------------------ -->
        <!-- <div class="gallery__items">

            <picture gallery__img>
                <source srcset="
        ./images/gallery-img/main-pic10-dt-1x.jpg 1x,
        ./images/gallery-img/main-pic10-dt-2x.jpg 2x
            " media="(min-width:1200px)" />
                <source srcset="
        ./images/gallery-img/main-pic10-tab-1x.jpg 1x,
        ./images/gallery-img/main-pic10-tab-2x.jpg 2x
            " media="(min-width:768px)" />
                <source srcset="
        ./images/gallery-img/main-pic10-mob-1x.jpg 1x,
        ./images/gallery-img/main-pic10-mob-2x.jpg 2x
            " media="(min-width:320px)" />
                <img src="images/gallery-img/main-pic10-dt-1x.jpg" alt="pictures of gallery" />
            </picture>
        </div> -->
        <!-- second version---------------------------------- -->
        <div class="gallery-grid box">
            <div class="img1 thumb">
                <picture class="grid-img1">
                    <img src="./images/gallery-img/1-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img2 thumb">
                <picture>
                    <img src="./images/gallery-img/2-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img3 thumb">
                <picture>
                    <img src="./images/gallery-img/3-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img4 thumb">
                <picture>
                    <img src="./images/gallery-img/4-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img5 thumb">
                <picture>
                    <img src="./images/gallery-img/5-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img6 thumb">
                <picture class="img6-grid">
                    <img src="./images/gallery-img/6-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img7 thumb">
                <picture>
                    <img src="./images/gallery-img/7-opt-2x.jpg" alt="">
                </picture>
            </div>
        
            <div class="img8 thumb">
                <picture>
                    <img src="./images/gallery-img/8-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img9 thumb">
                <picture>
                    <img src="./images/gallery-img/9-opt-2x.jpg" alt="">
                </picture>
            </div>
            <div class="img10 thumb">
                <picture>
                    <img src="./images/gallery-img/10-opt-2x.jpg" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>