<section class="gallery section">
    <div class="container gallery-container ">
        <h2 class="gallery__title">Gallery</h2>
        <div class="gallery__items">

            <picture gallery__img>
                <source srcset="
        ./images/gallery-img/main-pic10-dt-1x.jpg 1x,
        ./images/gallery-img/main-pic10-dt-2x.jpg 2x
            " media="(min-width:1200px)" />
                <source srcset="
        ./images/gallery-img/main-pic10-tab-1x.jpg 1x,
        ./images/gallery-img/main-pic10-tab-2x.jpg 2x
            " media="(min-width:768px)" />
                <source srcset="
        ./images/gallery-img/main-pic10-mob-1x.jpg 1x,
        ./images/gallery-img/main-pic10-mob-2x.jpg 2x
            " media="(min-width:320px)" />
                <img src="images/gallery-img/main-pic10-dt-1x.jpg" alt="pictures of gallery" />
            </picture>
        </div>
    </div>
</section>