            <!-- ------Modal---- -->

            <div class="backdrop-modal is-hidden" data-modal>

              <div class="modal_header">
            
                  <button class="close-menu-button" data-modal-close>
                    <svg class="button_icon" width="14">
                      <use href="./images/svg-sprite/symbol-defs.svg#icon-close"></use>
                  </svg>
                  </button>

                 <!-- ------ modal cross button (mobile menu) -->

                  <button class="close-menu-modal-button" data-menu-modal-close>
                    <svg class="button_icon" width="14">
                      <use href="./images/svg-sprite/symbol-defs.svg#icon-close"></use>
                  </svg>
                  </button>
             
                  <p class="header-modal-title">I want a kilo of delicious ice cream!</p>
            
                  <form action="#" class="header-modal-form">
                    
                    <div class="header-modal-form-field">
                        <label for="user-name" class="header-modal-input-text"
                            >Name</label
                        >
                        <div class="header-modal-input-wrap">
                            <input
                                type="text"
                                minlength="2"
                                name="user-name"
                                class="header-modal-input"
                                placeholder="John Dou *"
                                required="required"
                                id="user-name"
                            />
            
                        </div>
                    </div>
            
                    <div class="header-modal-form-field">
                      <label for="user-email" class="header-modal-input-text">
                          Email</label
                      >
                      <div class="header-modal-input-wrap">
                          <input
                              type="email"
                              name="user-email"
                              class="header-modal-input"
                              placeholder="write your email"
                              id="user-email"
                          />
            
                      </div>
                  </div>
                  <div class="header-modal-form-field">
                      <label for="user-tel" class="header-modal-input-text">
                          Phone number</label
                      >
                      <div class="header-modal-input-wrap">
                          <input
                              type="tel"
                              name="user-tel"
                              id="user-tel"
                              class="header-modal-input"
                              required
                              placeholder="+38 (098) 111-11-11 *"
                          />
            
                      </div>
                  </div>
                  <div class="header-modal-form-field">
                      <label for="user-text" class="header-modal-input-text">
                          How many kilo do you want?</label
                      >
                      <textarea
                          name="user-text"
                          id="user-text"
                          class="header-modal-text"
                          placeholder="write here"
                          maxlength="10"
                      ></textarea>
                  </div>
            
            
                <button type="submit" class="header-modal-btn">
                    Submit<svg
                        class="header-input-btn-icon cta-btn_icon"
                        width="18"
                        height="18"
                    >
                        <use
                            href="./images/svg-sprite/symbol-defs.svg#icon-arrow"
                        ></use>
                    </svg>
                </button>
            </form>
              </div>
            
            </div>