<div class="hero">
  <!-- <header class="header"></header> -->
  <section class="hero">
    <div class="container">
      <span class="hero__decoraition"></span>

      <picture class="hero__image hero__image--right">
        <source
          srcset="
            ./images/desktop/hero-milk-desk-1x.png 1x,
            ./images/desktop/hero-milk-desk-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/hero-milk-tab-1x.png 1x, ./images/tablet/hero-milk-tab-2x.png 2x"
          media="(min-width: 768px)"
        />
        <img src="./images/desktop/hero-milk-desk-1x.png" alt="Молоко выплескивается из кувшина" />
      </picture>

      <picture class="hero__image hero__image--central">
        <source
          srcset="./images/desktop/ice-desk-1x.png 1x, ./images/desktop/ice-desk-2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/tablet/ice-tab-1x.png 1x, ./images/tablet/ice-tab-2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/mobile/ice-mob-1x.png 1x, ./images/mobile/ice-mob-2x.png 2x"
          media="(min-width:480px)"
        />
        <img
          src="./images/desktop/ice-desk-1x.png"
          alt="Вафельный рожок с несколькими разноцветными шариками мороженного"
          width="171"
        />
      </picture>

      <picture class="hero__image hero__image--left">
        <source
          srcset="
            ./images/desktop/hero-girl-desk-1x.png 1x,
            ./images/desktop/hero-girl-desk-2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/tablet/hero-girl-tab-1x.png 1x, ./images/tablet/hero-girl-tab-2x.png 2x"
          media="(min-width:768px)"
        />
        <img src="./images/tablet/hero-girl-tab-1x.png" alt="Девушка ест мороженное" />
      </picture>

      <div class="hero__wrapper">
        <h1 class="hero__title">
          ice cream<br />
          made with<br />
          <span class="hero__title hero__title--color">passion</span>
        </h1>

        <ul class="list hero__list">
          <li class="list__item">
            <a href="#products" class="link hero__button hero__button--dark">Products</a>
          </li>
          <li class="list__item">
            <a href="#about" class="link hero__button hero__button--light">How it&#8217;s made?</a>
          </li>
        </ul>
      </div>

      <ul class="list hero__outlets">
        <li class="list__item hero__item">16<span class="hero__desc">cafes</span></li>
        <li class="list__item hero__item">23<span class="hero__desc">food trucks</span></li>
      </ul>

      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>

      <a href="" class="link link-hero">
        <img src="./images/desktop/arrow-right-desc-1x.png" alt="" width="18" />
      </a>
    </div>
  </section>
</div>
