
    <section class="products" id="products">
      <div class="container">
        <p class="products__pretitle">100% natural</p>
        <h1 class="products__title">products</h1>
        <ul class="products__list list">
            <li class="products__item">
                <div class="thumb">
                    <picture class="products__image">
                        <source srcset="
                      ./images/desktop/product-pink-desk-1x.png 1x,
                      ./images/desktop/product-pink-desk-2x.png 2x
                    " media="(min-width: 1200px)" />
                        <source srcset="
                     ./images/tablet/product-pink-tab-1x.png 1x,
                     ./images/tablet/product-pink-tab-2x.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                                  ./images/mobile/product-pink-mob-1x.png 1x,
                                  ./images/mobile/product-pink-mob-2x.png 2x  
                                  
                                " media="(min-width: 320px)" />
                        <img src="" alt="ice cream" />
                    </picture>
                    <div class="products__container products__container-pink">
                        <h3 class="products__list-title">
                            ice cream
                        </h3>
                        <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut
                            labore et. dolore magna
                            aliqua facilisis.
                        </p>
                        <a class="products-button" href="">
                            <img class="prod-img-but" src="./images/mobile/arrow-right-mob-1x.png" alt="">
                        </a>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="thumb">
                    <picture class="products__image">
                        <source srcset="
                                  ./images/desktop/product-yellow-desk-1x.png 1x,
                                  ./images/desktop/product-yellow-desk-2x.png 2x
                                " media="(min-width: 1200px)" />
                        <source srcset="
                                 ./images/tablet/product-yellow-tab-1x.png 1x,
                                 ./images/tablet/product-yellow-tab-2x.png 2x
                                " media="(min-width: 768px)" />
                        <source srcset="
                                              ./images/mobile/product-yellow-mob-1x.png 1x,
                                              ./images/mobile/product-yellow-mob-2x.png 2x  
                                              
                                            " media="(min-width: 320px)" />
                        <img src="" alt="ice coffee" />
                    </picture class="products__image">
                    <div class="products__container products__container-yellow">
                        <h3 class="products__list-title">
                            ice coffee
                        </h3>
                        <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut
                            labore et. dolore magna
                            aliqua facilisis.
                        </p>
                        <a class="products-button" href="">
                            <img class="prod-img-but" src="./images/mobile/arrow-right-mob-1x.png" alt="">
                        </a>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="thumb">
                    <picture class="products__image">
                        <source srcset="
                                  ./images/desktop/product-chocolate-desk-1x.png 1x,
                                  ./images/desktop/product-chocolate-desk-2x.png 2x
                                " media="(min-width: 1200px)" />
                        <source srcset="
                                 ./images/tablet/product-chocolate-tab-1x.png 1x,
                                 ./images/tablet/product-chocolate-tab-2x.png 2x
                                " media="(min-width: 768px)" />
                        <source srcset="
                                              ./images/mobile/product-chocolate-mob-1x.png 1x,
                                              ./images/mobile/product-chocolate-mob-2x.png 2x  
                                              
                                            " media="(min-width: 320px)" />
                        <img src="" alt="milkshakes" />
                    </picture>
                    <div class="products__container products__container-chocolate">
                        <h3 class="products__list-title">
                            milkshakes
                        </h3>
                        <p class="products__list-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut
                            labore et. dolore magna
                            aliqua facilisis.
                        </p>
                        <a class="products-button" href="">
                            <img class="prod-img-but" src="./images/mobile/arrow-right-mob-1x.png" alt="">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>