/* advantages */

.advantages {
  padding-top: 39px;
  padding-bottom: 94px;
  background-color: $secondBackgroundColor;
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-left: calc(-1 * #{60px});
  }

  @media screen and (min-width: 1280px) {
    margin-left: calc(-1 * #{30px});
  }
}

.advantages-item {
  max-width: 230px;

  @media screen and (min-width: 768px) {
    margin-left: 60px;
    width: calc((100% - 2 * #{60px}) / 3);
  }

  @media screen and (min-width: 1280px) {
    margin-left: 30px;
    width: calc((100% - 2 * #{30px}) / 3);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 38px;
    }
  }
}

.advantages-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $mainTitleColor;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;

    margin-bottom: 13px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;

    margin-bottom: 15px;
  }
}

.advantages-title::before {
  display: block;
  height: 50px;
  background-repeat: no-repeat;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages-title--basket::before {
  content: "";
  background-image: url("../images/mobile/bucket-mob-1x.png");

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url("../images/mobile/bucket-mob-2x.png");
  }
}

.advantages-title--apples::before {
  content: "";
  background-image: url("../images/mobile/apples-mob-1x.png");

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url("../images/mobile/apples-mob-1x.png");
  }
}

.advantages-title--heart::before {
  content: "";
  background-image: url("../images/mobile/heart-mob-1x.png");

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url("../images/mobile/heart-mob-2x.png");
  }
}

.advantages-text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: $secondTextColor;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;

    margin-bottom: 13px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
