.contacts {
  background-image: linear-gradient(
    to bottom,
    #ffffff 8%,
    #fff5f6 8%,
    #fff5f6 40%
  );
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      #ffffff 18%,
      #fff5f6 18%,
      #fff5f6 40%
    );
  }
  padding-top: 60px;
  padding-bottom: 20px;
}
.contacts__container {
  padding-right: 50px;
  padding-left: 50px;

  @media screen and (min-width: 768px) {
    padding-right: 36px;
    padding-left: 36px;
  }

  @media screen and (min-width: 1280px) {
    padding-right: 115px;
    padding-left: 115px;
  }
}
.contacts__list {
  margin-bottom: -20px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: -30px;
    margin-left: -30px;
  }
}
.contacts__list-item {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}
.contacts__list-container {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 31px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 51px;
    padding-bottom: 62px;
    padding-left: 44px;
    padding-right: 52px;
  }
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts__title-common {
  display: inline-block;
  padding: 0px 25px;
  border-radius: 4px;
  color: white;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 25px;
}
.contacts__title-container {
  background: #f0d1a5;
}
.contacts__title-second-container {
  background: #c2e297;
}
.contacts__title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.text-wrap {
  border-bottom: 1px solid #e1e1e1;
}
.contacts__list-first-text {
  font-family: DM Sans;
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000000;
}
.contacts__list-second-text {
  font-family: DM Sans;
  display: block;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}
.time-list {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.time-list__item {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.time-list__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
}
.time-list__hours {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
}
.nav-list {
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
}
.nav-list__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 183%;
  color: #907e82;
}
.link {
  text-decoration: none;
}
.contacts-list__btn {
  margin-top: 50px;
  @media screen and (min-width: 768px) {
    margin-top: 81px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 86px;
  }
}
.contacts-btn__common {
  width: 162px;
  height: 44px;
  display: block;
  padding: 10px auto;
  margin: auto;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 22px;
}
.contacnts__list-first-btn {
  color: #ffffff;
  background: #d41342;
  &:hover,
  &:focus {
    color: #d41342;
    background: #ffffff;
  }
}
.contacnts__list-second-btn {
  color: #d41342;
  background: #ffffff;
  &:hover,
  &:focus {
    color: #ffffff;
    background: #d41342;
  }
}
.contacts-item__btn {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
