.hero{
  background-color: $headerBackgroundColor;
  font-style: normal;
  font-weight: 400;
}

.hero .container{
  position: relative;
  height: 502px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding-top: 94px;
  padding-right: 34px;
  padding-left: 154px;
  padding-bottom: 34px;

  @media screen and (min-width:768px) {
    width: 768px;
    height: 399px;
  }
}

.hero__wrapper{
  position: absolute;
  top:195px;
  left: 20px;

  @media screen and (min-width:768px) {
    top:102px;
    left: 34px;
  }
}

.hero__decoraition{
  position: absolute;
  bottom: 75px;
  left:36px;

  display: inline-block;
  border-radius: 50%;
  width: 346px;
  height: 344px;

  background-color: $fourthTextColor;

  @media screen and(min-width:768px) {
    bottom: 46px;
    left: 307px;

    width: 324px;
    height: 322px;  
  }
}

.hero__image{
  position: absolute;
 
  &--right{
    display: none;

    @media screen and (min-width:768px) {
      bottom: 28px;
      left: 34px;
      display: block;
    }
  }

  &--central{
    bottom: 0;
    left: 117px;
    
    @media screen and(min-width:768px) {
      left: 378px;
      width: 143px;
    }
  }

  &--left{
    display: none;

    @media screen and (min-width:768px) {
      right: 34px;
      bottom: 0;
      display: block;      
    }
  }
}

.hero__title{
  margin-bottom: 19px;

  font-family: "Titan One", sans-serif;
  font-size: 26px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $secondTitleColor;

  &--color{
    font-size: 48px;
    line-height: 0.965;

    color: $mainTitleColor;

    @media screen and (min-width:768px) {
      font-size: 34px;
    }
  }

  @media screen and (min-width:768px) {
    margin-bottom: 20px;

    font-size: 22px;
  }
}

.hero__list{
 display: inline-flex;
}

.list__item{
  &:not(:last-child){
    margin-right: 8px;
  }
}

.hero__button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 62px;
  min-height: 24px;
  border-radius: 20px;

  border: 0;
  padding: 0;
  background-color: $sendBtnColor;

  font-size: 8px;
  line-height: 1.250;
  color: $sendBtnTextColor;

  &--light{
    width: 82px;
    background-color: $mainBackgroundColor;
    color: $mainBtnTextColor;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    // 1-й вариант
    background-color: $mainBackgroundColor;
    color: $mainBtnTextColor;

    &.hero__button--light{
      background-color: $sendBtnColor;
      color: $sendBtnTextColor;
    }
    

    // 2-й вариант

    // background-color: $fourthTextColor;
    // color: $accentColor;

    // &.hero__button--light{
    //   color: $sendBtnTextColor;
    // }
    
  }
}

.hero__outlets{
  @media screen and (max-width: 767px) {
    display: none;
  }

  align-self: end;
}

.hero__item{
  display: flex;
  justify-content: end;

  font-family: "Titan One", sans-serif;
  font-size: 28px;
  line-height: 1.143;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $mainBtnTextColor;

  &:not(:last-child){
    margin-bottom: 13px;
  }
}

.hero__count{
  position: relative;
  top: 1px;
  right: -6px;

  display: flex;
  flex-direction: column;
  text-align: right;
}

.hero__after{
  box-sizing: border-box;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $mainBackgroundColor;
}

.hero__desc{
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 1.250;
  letter-spacing: normal;
  text-transform: lowercase;

  color: $mainTextColor;
}

.hero__text,
.link-hero{
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-box{
  width: 114px;
}

.hero__text{
  margin-bottom: 7px;

  font-size: 8px;
  line-height: 1.500;

  color: $mainTextColor;
}