.products {
  padding-top: 127px;
  padding-bottom: 119px;
  &__pretitle {
    @include font(400, 18px, 1.16, 0em, $fourthTextColor);
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media screen and(min-width: 768px) {
      @include font(400, 26px, 1.15, 0em, $fourthTextColor);
    }
    @media screen and(min-width: 1280px) {
      @include font(400, 30px, 1.16, 0em, $fourthTextColor);
    }
  }
  &__title {
    @include font(400, 34px, 1.14, 0.04em, $sendBtnColor);
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 144px;
    @media screen and(min-width: 768px) {
      margin-bottom: 150px;
      @include font(400, 48px, 1.14, 0.04em, $sendBtnColor);
    }
    @media screen and(min-width: 1280px) {
      margin-bottom: 259px;
      @include font(400, 58px, 1.15, 0.06em, $sendBtnColor);
    }
  }
  &__list {
    @include flex(flex, center, center);
    @media screen and(max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    border-radius: 24px;
    position: relative;
    width: 280px;
    padding: 161px 39px 41px 41px;
    &:not(:last-child) {
      @media screen and(max-width: 767px) {
        margin-bottom: 130px;
      }
    }
    @media screen and(min-width: 768px) {
      // flex-basis: calc(100% / 3 - 20px);
      &:not(:last-child) {
        margin-right: 20px;
      }
      width: 220px;
      padding: 152px 11px 40px 11px;
    }
    @media screen and(min-width: 1280px) {
      // flex-basis: calc(100% / 3 - 23px);
      &:not(:last-child) {
        margin-right: 23px;
      }
      width: 335px;
      padding: 163px 44px 50px 44px;
    }
    &--pink {
      background-color: #ffb8ca;
    }
    &--yellow {
      background-color: #f0d1a5;
    }
    &--chocolate {
      background-color: #c2e297;
    }
  }
  &__image {
    width: 253px;
    height: 252px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    @media screen and(min-width: 768px) {
      width: 220px;
      height: 224px;
      transform: translate(-50%, -113%);
    }
    @media screen and(min-width: 1280px) {
      width: 335px;
      height: 335px;
      transform: translate(-50%, -113%);
    }
  }
  &__list-title {
    @include font(400, 20px, 1.15, 0.04em, $secondTitleColor);
    font-family: Titan One;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    @media screen and(min-width: 1280px) {
      @include font(400, 30px, 1.16, 0.04em, $secondTitleColor);
    }

    &::after {
      content: "...";
      display: block;
      letter-spacing: 0.2em;
      font-size: 30px;
    }
  }

  &__list-text {
    @include font(700, 14px, 1.5, 0.04em, $mainTextColor);
    text-align: center;
    margin: 0 auto;
    @media screen and(min-width: 768px) {
    }
    @media screen and(min-width: 1280px) {
      @include font(700, 16px, 1.8, 0.04em, $mainTextColor);
    }
  }
}

.products-button {
  @include flex(flex, center, center);
  margin-top: 30px;
  @media screen and(min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and(min-width: 1280px) {
    margin-top: 62px;
  }
}
